@import "../base/mixins";
@import "../base/maps";
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:map-get($final, bg_final);
    color: map-get($final, color_final );
    height: map-get($final, height_final);

    h2{
    font-size: 9vw;
    }

    button{
    font-size: 5vw;
    }
}

footer{
    background-color: rgb(230,230,230);


    p{
    @include texto_footer(0, 12px, rgb(100,100,100) )
    }

    .container{
    background-color:#D9CEB2 ;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }
}