#presentacion .container{
  
  text-align: center;
  padding: 200px 12px;

  .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    margin-top: 0px;
  }

  .img-container {
    background-image: url();
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
}